.head{
	height:30%;
	position:relative;
	margin: -8px;
}

a{
	text-decoration: none;
	color: #fff;
}

td > a{
	color: #000;
}

body{
	background: url('../images/back5.jpg');
	font-family: 'Voces', cursive;
	background-attachment: fixed;
	background-size: cover;
}

h1, h2, h3{
	font-family: 'Raleway', sans-serif;
}

#logo{
	z-index: 1000;
	width: 15%
}

#dash{
	position: relative;
	background: #010101;
	z-index: 999;
	float: right;
	top:-150;
	width: 88%;
}

.search{
	background: url("../images/search.png") right no-repeat;
	background-position: 97% 50%;
	border: 1px solid #2b2b2b;
	box-shadow: 0px 2px 5px #1b1b1b inset;
	margin: -6px 10px 10px 20px;
	height: 25px;
	width: 200px;
	padding: 0 40px 0 10px;
	float: left;
	color: #ffffff;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.search:hover{
	border-color: #757575;
}

.search:clicked{
	border-color: #3bbcca;
}

.menu{
	position: relative;
	display: block;
	float: left;
	color: #ffffff;
	margin: 5px 10px 5px 20px;
	padding: 10px 10px 10px 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.menu:hover{
	background: #343434;
}

/*Level 1 Menu*/
nav ul{
	list-style-type: none;
}

nav ul li{
	position: relative;
	display: block;
	float: left;
	color: #ffffff;
	line-height: 25px;
	margin: -16px 10px 0px 10px;
	padding: 10px 10px 10px 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

nav ul li:hover{
	background: rgba(39, 163, 8, 0.75);
}

/*Level 2 Menu*/
nav ul li:hover>ul{
	display: block;
}

nav ul li ul{
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,0.6);
	top: 100%;
	left: 0%;
	margin: 0;
	padding: 0;
	min-width: 150%;
	z-index: 1001;
}

nav ul li ul li{
	float: none;
	color: #000;
	background: url("../images/arrow_right.png") rgba(255,255,255,0.8) left no-repeat;
	background-position: 10px 50%;
	background-size: 5px 7px;
	font-size: 0.8em;
	line-height: 15px;
	margin: 5px 8px 5px 20px;
	padding-left: 30px;
	margin-left: 6px;
	cursor: pointer;
	z-index: 1002;
}

nav ul li ul li a {
	color: #000;
	z-index: 1002;
}

nav ul li ul li:hover{
	background: url("../images/arrow_right.png") rgba(39, 163, 8, 0.75) left no-repeat;
	background-position: 10px 50%;
	background-size: 5px 7px;
	color: #fff;
	left: 3px;
}

#page{
	width: 80%;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 2px;
	margin: 70px auto;
	padding: 20px;
}

.name{
	padding: 85px;
	font-size: 50px;
	font-family: 'Raleway';
	font-weight: bold;
	text-shadow: 2px 2px 6px;
	margin-left: 225px;
}

.desc{		
	padding: 50px 0 0 0;
	text-align: center;
	font-size: 0.85em;
	clear:both;
}

#attr{
	background: #040746;
	color: #FFF;
	font-weight: bold;
}

#attr1{
	background: #34A4F0;
	color: #000;
	font-weight: bold;
}

.oddcol{
	background: #F0B06A;
}

.evencol{
	background: #FFF;
}

tbody > td{
	font-size: 0.85em;
}

td{
	padding: 5px;
}

table{
	padding: 50px;
}

.foot{
	margin: 200px -12px -8px -12px;
	background: #010101;
	line-height: 25px;
	padding: 10px;
	width: 100%;
}

#text{
	position: relative;
	margin: 0px auto;
	font-size: 12px;
	color: #fff;
	text-align: center;
}